  @font-face {
    font-family: moskBold;
    src: url(MoskSemi.ttf);
  }

  @font-face {
    font-family: moskNormal;
    src: url(MoskNormal.ttf);
  }

  body {
    font-family: moskBold;
    margin: 0;
    overflow-x: hidden;
  }

  header {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    color: #1C1C1C;
    margin: 0;
    padding: 1em;
    z-index: 1000;
  }

  .dimmer {
    background:#000;
    opacity:0.7;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:3;
    transition: .3s;
  }

  section > a:visited {
    background: #1C1C1C;
    color: #FFFFFF;
    text-decoration: none;
  }

   #menu-nav > a, a:visited {
    background: #1C1C1C;
    color: #FFFFFF;
    text-decoration: none;
  }

  a, a:visited {
    background: #1C1C1C;
    color: #FFFFFF;
    text-decoration: none;
  }

  .logo > a, a:visited {
    background: #FFFFFF;
    color: #1C1C1C;
    text-decoration: none;
  }

  #cross {
    width: 5em;
    height:5em;
    transition: .2s;
    float: right;
  }

  .cross-toggle {
    transform: rotate(45deg);
    transition: .2s;
  }

  .info {
    text-align: left;
    margin: 0;
    padding: 1.5em 3em 1.5em 1em;
    background: #1C1C1C;
    color:#FFFFFF;
  }

  nav {
    display: none;
    clear: both;
    font-size: 1.5em;
    flex-direction: column;
  }

  nav  a {
    padding: 1.25em 1.5em;
    transition: all 1.5s;
  }

  .menu {
    text-align:center;
    line-height: 2em;
  }

  .menu-toggle {
    display: flex;
    z-index: 100;
    position: absolute;
    width: 100%;
  }

  .dropdown {
    z-index: 5;
  }

  section {
    background: #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    position: relative;

  }

  section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .banner img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  section h2 {
    margin: 0;
  }

   span {
    background:#1C1C1C;
    left: 1em;
    position: absolute;
    padding: .3em .5em;
    bottom: 0px;
  }

  .text {
    font-family: moskNormal;
    font-size: 1.2em;
  }

   .text, .title {
    color: #1C1C1C;
    margin: 2em 1em;
    text-align: justify;
   }

  video {
    width: 100%;
  }

  footer {
    font-size: 1.2em;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    color: #1C1C1C;
    bottom: 0;
    padding: 0 1em;
    margin: 1.5em 0;
  }

  #back-to-top {
    cursor: pointer;
  }

  footer > p {
    margin: 0;
    padding: 0;
  }

  .gold {
    color: #E2C044;
  }


  /* TABLET STYLES */

  @media screen and (min-width: 500px) {

    /* applies to screens wider than 499px */

  section a, a:visited {
    color: #FFFFFF;
    background: #1C1C1C;
  }


  #menu-nav > a, a:visited {
    background: #FFFFFF;
    color: #1C1C1C;
  }

  .menu {
    display: none;
  }

  header, nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .videos {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  }


}


/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

      /* applies to screens wider than 999px */
    .banner img {
      max-width:100%;
      max-height:100%;
      margin: 0;
    }

    body {
      font-size: 1.3em;
    }

    section img {
      width: 120%;
      margin: 0;
    }

    header {
      padding: 1.5em;
    }


    .info h2 {
      width: 50%;
    }

    .photos {
      padding: 1em 2em;
    }

    .photos > img {
      width: 100%;
      height: 60%;
    }

    .photos > img {
      width: 100%;
      height: 80%;
    }

    .text-container {
      padding: 2em;
    }

    .text {
      display: flex;
      justify-content: space-between;
    }

    .text p {
      padding-right: 2em;
    }

    a:hover {
      color:#E2C044;
      transition: .5s;
    }

    section a:hover {
      color:#E2C044;
      transition: .5s;
    }


    #menu-nav > a:hover {
      color:#E2C044;
      transition: .5s;
    }


   
}
